.query-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.query-title {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.main-content form {
    position: relative;
    display: flex;
    width: 500px;
}

.main-content #query-input {
    flex: 1;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    font-size: 18px;
}

.main-content #query-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    height: 50px;
    width: 120px;
    font-size: 18px;
}

.main-content #query-button:hover {
    background-color: #0056b3;
}

/* 消息容器样式 */
#message-container {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
    display: none; /* 默认隐藏，动态显示 */
}

#query-result {
    font-size: 25px; /* 设置字体大小，可根据需要调整 */
    line-height:18 1.6; /* 增加行间距以提高可读性 */
}

.query-text {
    font-weight: bold; /* 加粗显示用户输入的查询 */
    color: #333; /* 可选：设置颜色 */
}
